body {
  background-color: #29303A;
}

#component_holder{
  height:100vh;
}
#hero-title {
  color: #e7e3e3;
  font-size: 2em;
}

#text-counter {
  color: #e7e3e3;
  margin-top: 10vh;
  font-size: 4em;
}

#activitiesChart {
 
}