body {
  background-color: #29303A;
  color: #E7E3E3;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#fix-ft-label{
  border:0px !Important;
  border-radius: 0rem !Important;
  background-color: #D3D3D3 !Important;
}

#dumb{
  height:50vh;
}
#elevation-label{
  padding: 20px 0px;
}
#submit-button{
  margin-top:2vh;
}
/*How to use*/
#how-to-use-title{
  color: rgba(231,277,277,.8) !important;
}
#how-to-use-title:after{
  content: "\01F914"; /*thinking face*/
  padding-left:5px;
}

#how-to-use-p{
    line-height: 1.5em;
    font-size: 1.2em;
}
/*MENU*/
.ui.menu {
  background-color: #29303A !important;
  color: rgba(231,277,277,.8) !important;
  align-self: flex-start !important;
}
.item {
  line-height: 1.26 !important;
}
.ui.menu .active.item{
  color: rgba(231,277,277,1) !important; 
}
.ui.menu .item{
  color: rgba(231,277,277,.7) !important;
}
.ui.button {
  background-color: #029Ae6 ;
  color: rgba(231,277,277,1) !important; 
}

#buttonLogOut{
  background-color: rgba(41, 48, 58, 1);
}
/*FORM*/
#goal-input{
  padding: 2vw;
}
#goal-input > form > div > label {
  color: #e7e3e3;
}
/*CHART*/
#activitiesChart{
  padding:14px 0px;
  height:100%;
}
/*Table*/
#table-description{
  font-size: 11px;
    font-weight: 100;
    font-style: italic !important;
    color: #666;
}
#metrics_table{
  padding-top:3vw;
  padding-bottom:3vw;
}
#metrics_table > table{
  color: #e7e3e3;
}
h4.ui.header{
  color: #888590;
}
.ui.header .sub.header, .ui.small.header .sub.header{
  color: #888590;
  padding: 5px;
}
.ui.celled.table tr th {
  color: #888590;
}
.ag-below-header {
  font-size: .9rem;
  color: rgba(136,133,144,.5);
  padding-left:5px;
  font-weight: 400;
  line-height: 1.2em;
  margin-top:-2px !important;
}
/*Emoji*/
#goal-emoji:after{
  content: "\1F3C6"; /*goal*/
  padding-left:5px;
}

#bike-emoji:after{
  content: "\1F6B4"; /*bike*/
  padding-left:5px;
}
#run-emoji:after{
  content: "\1F3C3"; /*run*/
  padding-left:5px;
}
#time-climbing:after {
    content: "\01F3BF"; /*skiboots*/
    padding-left:3px;
}
#elevation-from-skiing:after{
   content: "\01F4AA";
   padding-left:3px;
}
#avg-rise-run:after {
    content: "\01F525"; /*fire*/  
    padding-left:3px;
 }
#feet-per-second:after {
    content: "\026A1"; /*lightening*/
    padding-left:3px;
}
#most-vertical:after{
  content: "\01F680"; /*rocket*/
  padding-left:3px;
}

#component_holder{
 padding: 10px 1px;
 height:100vh;
}
#about-holder{
  padding: 10px 1px;
}
#intro-header{
  color: #e7e3e3;
  text-transform: uppercase;
}

.ui.dividing.header{ 
  border-bottom: 1px solid #FE6627;
}

#text-counter {
  color: #e7e3e3;

}


#website_text{ /*watckrisrun.com*/
  color: #e7e3e3;
  font-size: 2em;
}

#activities_header{ /*text in front of elevation count*/
  color: #e7e3e3;
  font-size: 1em;
}

#activitesChart{
  height: 400px; /*height can only be set here because of responsive setting*/
}

#elevation_total{color: #FE6627;} /*elevation count*/

#pieChart > div > svg > g:nth-child(1) > text > tspan{
	color: #E7E3E3 !important;
}
#pieChart_row{
  min-height:300px;
}

#authenticate-button {
  width: 150px;
  height: 42px;
  font-size: 18px;
  background-color: #029ae6;
  border-radius: 90px;
  border: 0px;
}

.recharts-legend-item-text {
	color: #888590;
}

.recharts-wrapper{
  margin:auto;
}

.max-height-col{
  padding: 4vw !important;
}

 .chart.canvas.parentNode.style.height{
    height: 50vh;
    width: 100vh;
}


@media screen and (max-width: 990px){
  #home-logo{
    margin-left:-8vw !important;
  }
  .ag-flex-start{
    justify-content: flex-start !important;
  }
  .max-height-col{
    max-width: 80% !important;
  }
  #activities_header{
    padding-top: 10px;
  }
  #activitesChart{
    height: 50px; /*height can only be set here because of responsive setting*/
  }
  #pieChart {
    padding:7vw;
  }
 

}

